<div class='message-container'  *ngIf="invitado && invitado.aceptada === false">
  <div class="glass-container">
    <div class="horizontal-center">
      <img class="j500" src="../../../assets/icon/sports-plaza-logo.jfif" alt="">

    </div>
    <div class="message-header">
      <h1 style="color: #460c63;">Estimado(a) {{ invitado.nombreCompleto }}</h1>
      <h2>{{invitado.cargo}} <div *ngIf="invitado.institucion" > de </div> {{invitado.institucion}}</h2>
      <p style="margin-bottom: 30px;">Agradecemos su confirmación al evento de inauguración de Aquadome.</p>
      <p style="margin-bottom: 30px;">El evento tendrá lugar en Sports Plaza, el 28 de Septiembre a las 7:00 PM.</p>
      <p>Lo esperamos para celebrar esta ocasión tan especial.</p>
    </div>

    <div class="message-content" *ngIf="invitado.opcionQR == true">
      <p><b>Ya cuenta con {{invitado.numQrsBase +1}} pases apartados</b>, adicionalmente puede llevar un máximo de 2
        acompañantes
        extra. Por favor, seleccione abajo cuántos acompañantes extra llevará:</p>
      <form [formGroup]="ionicForm">
        <ion-item class="select">
          <ion-select formControlName="acompanantesExtra" placeholder="Seleccione cantidad" label="Acompañantes adicionales"
            (ionChange)="handleOptionChange($event)">
            <ion-select-option *ngFor="let num of [0, 1, 2]" [value]="num">{{ num }}</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </div>
    <div class="message-content" *ngIf="invitado.opcionQR == false">
      <p>Favor de hacer click en el siguiente botón para generar sus {{invitado.numQrsBase}} pases (QR), los cuales recibirá inmediatamente a su correo electrónico</p>
    </div>
    <div class="message-footer">
      <ion-button expand="full" style="--background: #DAA800;" (click)="confirmarAsistencia()"
        [disabled]="numAcompanantes == -1 && invitado.opcionQR == true">Generar pases</ion-button>
    </div>


  </div>
  <ion-loading message="Enviando información..." [isOpen]="isLoadingSendingOpen"></ion-loading>
</div>
