<div class='message-container'  *ngIf="invitado && invitado.aceptada === false">
  <div class="glass-container">
    <img class="aniversario" src="../../../assets/img/70-aniv.png" alt="">
    <img class="j500" src="../../../assets/icon/j500.png" alt="">
    <div class="message-header">
      <h1>Estimado(a) {{ invitado.nombreCompleto }}, {{invitado.cargo}} de {{invitado.institucion}}</h1>
      <p>Está cordialmente invitado al evento por el 70 aniversario del Club Alpha.</p>
      <p>El evento tendrá lugar en la duela de baloncesto del Club Alpha 2, el 25 de septiembre a las 10:30 AM.</p>
      <p>Lo esperamos para celebrar esta ocasión tan especial.</p>
    </div>

    <div class="message-content" *ngIf="invitado.opcionQR == true">
      <p><b>Ya cuenta con {{invitado.numQrsBase +1}} pases apartados</b>, adicionalmente puede llevar un máximo de 2
        acompañantes
        extra. Por favor, seleccione abajo cuántos acompañantes extra llevará:</p>
      <form [formGroup]="ionicForm">
        <ion-item class="select">
          <ion-select formControlName="acompanantesExtra" placeholder="Seleccione cantidad" label="Acompañantes adicionales"
            (ionChange)="handleOptionChange($event)">
            <ion-select-option *ngFor="let num of [0, 1, 2]" [value]="num">{{ num }}</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </div>
    <div class="message-content" *ngIf="invitado.opcionQR == false">
      <p><b>Ya cuenta con {{invitado.numQrsBase +1}} pases apartados</b>, al hacer click en el boton de abajo recibira sus pases en formato QR</p>
    </div>
    <div class="message-footer">
      <ion-button expand="full" color="primary" (click)="confirmarAsistencia()"
        [disabled]="numAcompanantes == -1 && invitado.opcionQR == true">Aceptar Invitación</ion-button>
    </div>


  </div>
  <ion-loading message="Enviando información..." [isOpen]="isLoadingSendingOpen"></ion-loading>
</div>