.invitacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    .header {
      margin-bottom: 20px;
  
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }
  
      p {
        font-size: 18px;
        color: #666;
        margin: 10px 0;
      }
    }
  
    .content {
      width: 100%;
      margin-bottom: 20px;
  
      p {
        font-size: 16px;
        color: #666;
        margin: 10px 0;
      }
    }
  
    .footer {
      width: 100%;
    }
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
  
    p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  