ion-content {
  flex: 1;
  z-index: 100;
  --background: rgba(0, 0, 0, 0);
  
}
ion-header{
  z-index: 101;

}
ion-toolbar{
  --background:rgba(255, 255, 255, 0.453);
}
.wrapper {
  display: flex;
  flex-direction: column;
  --offset-top: var(--ion-safe-area-top);
  --offset-bottom: var(--ion-safe-area-bottom);
  min-height: calc(100vh - 56px);
}
.content{
  flex: 1;
}
p.footer{
  font-size: 12px;
  color: darkgray;
}