<ion-loading message="Cargando información..." [isOpen]="isLoadingOpen"></ion-loading>


<ion-content>
  <div class="ion-text-center" style="font-weight: 900;font-family: asen-pro;color: aliceblue;width: 100%;margin:20px 0;"><h1 style="font-size: 26px;"><b>Confirmación de invitación</b></h1></div>
  <div class="wrapper">
    <div class="content" *ngIf=" tipo == '0' && invitado && !invitado.aceptada && !invitado.rechazada">
      <app-formulario-confirmacion [invitado]="invitado" [uuid]="uuid"></app-formulario-confirmacion>
    </div>
    <div class="content" *ngIf="( tipo == '1' && invitado && !invitado.aceptada) || (invitado?.rechazada && !invitado?.aceptada) ">
      <div class="wrapper">
        <app-rechazo-invitacion [invitado]="invitado"></app-rechazo-invitacion>
      </div>
    </div>
    <div class="content" *ngIf="invitado && pases">
      <app-invitacion-confirmada [invitado]="invitado" [pases]="pases"></app-invitacion-confirmada>
    </div>
    <div class="content" *ngIf="invitado && !invitado.aceptada">
      <app-pagina-no-valida [error]="error" [mensajeError]="mensajeError"></app-pagina-no-valida>
    </div>
    
    <!-- <div class="footer">
      <ion-footer class="ion-text-center">
        <ion-toolbar>
          <ion-title>
            <p class="footer">2024 Club Alpha. Desarrollado por Ing. Jesus E. Salgado L.</p>
          </ion-title>
        </ion-toolbar>
      </ion-footer>
    </div> -->
  </div>
</ion-content>
<!--
<app-fondo-olas></app-fondo-olas> -->
