img.aniversario{
    position: absolute;
    right: 25px;
    top: 25px;
    margin: 0;
    padding: 0;
    width: 80px;
}
img.j500{
    width: 40%;
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 900;
}