img.aniversario{
    position: absolute;
    right: 25px;
    top: 25px;
    margin: 0;
    padding: 0;
    width: 80px;
}
img.j500{
    width: 80px;
    position: absolute;
    
    left: 25px;
    top: 20px;
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 70px;
    font-weight: 900;
}