<ion-content [fullscreen]="true" class="ion-padding ion-text-center content">
  <div class="logos">
    <div class="logop"><img class="lj-modal" src="../../../assets/img/Asset5.png"></div>
    <div class="logop"><img class="lj-modal" src="../../../assets/img/70-aniv.png"></div>
  </div>

  <div class="select">
    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="lista" layout="icon-start">
        <ion-label class="tag" *ngIf="tpase === 'vip-esp'">VIP y Especiales</ion-label>
        <ion-label class="tag" *ngIf="tpase === 'deportistas'">J500 Deportistas</ion-label>
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="scanner" layout="icon-start">
        <ion-label class="tag">Escanear</ion-label>
        <ion-icon name="scan"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar *ngIf="selectTabs === 'lista'" color="light" placeholder="Nombre del Invitado"></ion-searchbar>
  </div>

  <div *ngIf="selectTabs === 'lista'">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-sm="12" sizeMd="8">
          <div class="table-container font">
            <table style="overflow: auto;" *ngIf="datos">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre completo</th>
                  <th>Estado</th>
                  <th>Clasificación</th>
                  <th>Tipo de pases</th>
                </tr>
              </thead>
              <tr *ngFor="let invitado of datos">
                <td>{{invitado.id}}</td>
                <td>{{invitado.nombreCompleto}}</td>
                <td>{{estado(invitado.aceptada, invitado.rechazada)}}</td>
                <td>{{invitado.clasificacion}}</td>
                <td>{{invitado.tipoPases}}</td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
      <ion-button class="button-dat">
        <p class="header-text1 text-asw">Enviar Datos</p>
      </ion-button>
  </div>

  <div *ngIf="selectTabs === 'scanner'">
    <div class="instruc-text">Da click en la imagen para escanear el código QR para confirmar la asistencia al evento.</div>
    <ion-button  id="open-custom-dialog" class="ion-padding-sm ion-padding-md-up ion-padding-lg-up img">
      <img src="../../../assets/img/qr.svg" alt="scanner" class="img-boton">
    </ion-button>
    <ion-modal class="datos" id="modal-datos" #modal trigger="open-custom-dialog">
      <ng-template>
        <div class="wrapper">
          <div class="logo-j500"><img class="lj-modal" src="../../../assets/img/Asset5.png"></div>
          <h1>¡Bienvenido!</h1>
          <h2>Pedro Sebastian Tellez Miranda{{ scannedData?.nombreCompleto }}</h2>
          <div class="block ion-text-center">
            <p class="header-text1">Invitado  VIP{{ scannedData?.tipoPases }}</p>
            <p class="header-text2">Supervisor de Programacion{{ scannedData?.institucion }}</p>
            <div class="btns">
              <ion-button class="btn-confirmar">
                <ion-label class="label-btn">Check-In</ion-label>
              </ion-button>
              <ion-button class="btn-cancel">
                <ion-label class="label-btn">Cancelar</ion-label>
              </ion-button>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
