<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-text>
    <h2 class="ion-text-center ion-margin">Check-In 70 Aniversario</h2>
  </ion-text>
  <div class="select">
    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="lista" layout="icon-start">
        <ion-label *ngIf="tpase === 'vip-esp'">Invitados VIP y Especiales</ion-label>
        <ion-label *ngIf="tpase === 'deportistas'">Invitados J500 Deportistas</ion-label>
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="scanner" layout="icon-start">
        <ion-label>Escanear</ion-label>
        <ion-icon name="scan"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar *ngIf="selectTabs === 'lista'" color="light" placeholder="Nombre del Invitado"></ion-searchbar>
  </div>

  <div *ngIf="selectTabs === 'lista'">

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-sm="12" sizeMd="8">
          <div class="table-container font">
            <table style="overflow: auto;" *ngIf="datos">
              <thead>
                <!--tr>
                  <th></th>
                  <th></th>
                  <th>Todos</th>
                  <th>Todos</th>
                  <th>Todos</th>
                </tr-->
                <tr>
                  <th>Id</th>
                  <th>Nombre completo</th>
                  <th>Estado</th>
                  <th>Clasificación</th>
                  <th>Tipo de pases</th>
                </tr>
              </thead>
              <tr *ngFor="let invitado of datos">
                <td>{{invitado.id}}</td>
                <td>{{invitado.nombreCompleto}}</td>
                <td>{{estado(invitado.aceptada, invitado.rechazada)}}</td>
                <td>{{invitado.clasificacion}}</td>
                <td>{{invitado.tipoPases}}</td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
      <ion-button class="button-dat">
        <p class="header-text1 text-asw">Enviar Datos</p>
      </ion-button>
  </div>

  <div *ngIf="selectTabs === 'scanner'">
    <div class="instruc-text">
      Da click en la imagen para escanear el código QR para confirmar la asistencia al evento.
    </div>
    <ion-button  id="open-modal" class="ion-padding-sm ion-padding-md-up ion-padding-lg-up img">
      <img src="../../../assets/img/qr.svg" alt="scanner" class="img-boton">
    </ion-button>
    <!-- <h2 class="text">Escanea</h2> -->
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <!-- <ion-toolbar class="tool-modal">
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button color="" (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar> -->
          <h1>Bienvenido!</h1>
          <h2>Pedro Sebastian Tellez Miranda{{ scannedData?.nombreCompleto }}</h2>
          <div class="block ion-text-center">
            <!-- <p class="header-text1">Código QR: <span class="text-asw">{{ qrCode }}</span></p>
            <img src="../../../assets/images/qr.webp" alt="referencia" class="img-qr"> -->
            <!-- <p class="header-text1">Nombre: <span class="text-asw"></span></p> -->
            <p class="header-text1">Invitado  VIP{{ scannedData?.tipoPases }}</p>
            <p class="header-text2">Supervisor de Programacion{{ scannedData?.institucion }}</p>
            <!-- <p class="header-text1">Institución: <span class="text-asw">{{ scannedData?.institucion }}</span></p> -->
            <!-- <p class="header-text1">Pase: <span class="text-asw">{{ scannedData?.tipoPases }}</span></p> -->
            <ion-button class="button-sca">
              <ion-label class="header-text1 text-asw">OK</ion-label>
            </ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
<app-fondo-olas></app-fondo-olas>
