
img{
    padding: 50px;
    padding-bottom: 10px;
}
h1{
    font-weight: 900;
}
h2{
    font-weight: 500;
    margin-top: 50px;
    font-size: 24px;
}
h3{
    font-weight: 500;
    font-size: 16px;

}
.text-uc{
    text-transform: uppercase;
}

img.j500{
    width: 40%;

    margin: 0;
    padding: 0;
}