ion-content {
    flex: 1;
    z-index: 100;
    --background: #003384eb;
    --background: none;
    background: url('../../../assets/icon/fondo2.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.select {
    margin: 10px auto;
    width: 90%;
}
ion-segment {
    position: sticky;
    top: 0;
    z-index: 100;
    width: auto;
    height: 25%;
    background: #EFB810;
    border-radius: 20px;
}
.btn-confirmar { font-size: 15px; --background: #EFB810; --color:black}
.segment-button-checked.ios::part(native) { color: rgb(0, 0, 0); }
ion-segment-button.ios::part(indicator-background) { border-radius: 20px; }
/*--------------------------------------------LECTOR QR-----------------------------------------------------*/
.instruc-text {
    font-weight: 600;
    font-family: 'Asen Pro', sans-serif;
    color: rgb(0, 0, 0);
    margin: 20px auto;
    width: 90%;
}
.text-asw { font-weight: bold; }
.img{
  width: 80%;
  height: 100%;
}
ion-button {
    --width: 150px;
    --height: 150px;
    --background: rgba(0, 0, 0, 0);
}
ion-modal.datos {
  .wrapper {
    flex: 1;
    z-index: 100;
    --background: none;
    background-size: 100% 100%;
    background: rgb(255,207,62);
background: linear-gradient(360deg, rgba(255,207,62,1) 0%, rgba(247,238,208,1) 82%);
  }
  .logo-j500 {
    margin: 20px auto;
    text-align: center;
  }
  h1 {
    color: rgb(111, 0, 155);
    font-family: 'asen-pro';
    font-weight: 600;
    margin: 20px auto;
    text-align: center;
  }
  h2 {
    color: rgb(0, 0, 0);
    font-family: 'asent-pro';
    font-weight: 800;
    margin: 35px auto;
    text-align: center;
    font-style: italic;
  }
  .header-text1 {
    font-weight: 600;
    font-family: 'asent-pro';
    color: rgb(87, 0, 109);
    width: 100%;
    margin: 20px 0;
    font-style: italic;
  }
  .header-text2 {
    font-weight: 600;
    font-family: 'asent-pro';
    color: black;
    width: 100%;
    margin: 20px auto;
  }
  .lj-modal { width: 40%; }
  .btns {
    .btn-confirmar {
      width: auto;
      height: auto;
      background: #EFB810;
      font-family: 'Asen Pro', sans-serif;
      color: white;
      margin: 20px 30px;
      font-weight: 600;
      border-radius: 10px;
      --background-activated: #f6cf59;
      --background-focused: #f6cf59;
    }
    .btn-cancel {
      width: auto;
      height: auto;
      background: #e70000;
      font-family: 'Asen Pro', sans-serif;
      color: white;
      margin: 20px 30px;
      font-weight: 600;
      border-radius: 10px;
      --background-activated: #db4242;
      --background-focused: #db4242;
    }
  }
}
ion-modal#modal-datos {
  --width: 90%;
  --height: auto;
  --border-radius: 6px;
  --margin: auto;
}
.tag { font-size: 18px; }
.img-boton {
    width: auto;
    height: auto;
    object-fit: cover;
    filter: invert(0.9);
}
.img-qr {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.button-sca{
    width: 100px;
    height: 60px;
    --background: #308aa3;
}
.button-tod{
    width: auto;
    height: auto;
}
//**********************Modal de Confirmacion**********************
ion-modal#modal-c {
  --width: 90%;
  --height: auto !important;
  --border-radius: 6px;
  --margin: autio;
}
ion-modal#modal-lector {
  --width: 90%;
  --height: auto !important;
  --border-radius: 6px;
  --margin: autio;
}
ion-modal.mcheck {
  .wrapper {
    flex: 1;
    z-index: 100;
    --background: none;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background: #EFB810;
  }
  h2 {
    text-align: center;
    margin: 15px auto;
    color: white;
    font-weight: 600;
    font-family: 'Asen Pro', sans-serif;
  }
  .img-mcheck {
    margin: 50px auto 20px auto;
    text-align: center;
  }
  .img-check { width: 85%; }
  .btns {
    display: flex;
    align-items: center;
    .btn-aceptar {
      width: auto;
      height: auto;
      background: #3e1262;
      font-family: 'Asen Pro', sans-serif;
      color: white;
      margin: 20px auto;
      font-weight: 600;
      border-radius: 10px;
      --background-activated: #3e1262;
      --background-focused: #3e1262;
      text-align: center;
    }
  }
}
//*************************Modal de Error**************************
ion-modal#modal-e {
  --width: 90%;
  --height: auto !important;
  --border-radius: 6px;
  --margin: autio;
}
ion-modal.merror {
  .wrapper {
    flex: 1;
    z-index: 100;
    --background: none;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background: white;
  }
  h2 {
    text-align: center;
    margin: 15px auto;
    color: #EFB810;
    font-weight: 600;
    font-family: 'Asen Pro', sans-serif;
  }
  .header-text2 {
    font-weight: 600;
    font-family: 'asent-pro';
    color: #3e1262;
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .img-merror {
    margin: 50px auto 20px auto;
    text-align: center;
  }
  .img-error { width: 50%; }
  .btns {
    display: flex;
    align-items: center;
    .btn-aceptar {
      width: auto;
      height: auto;
      background: #EFB810;
      font-family: 'Asen Pro', sans-serif;
      color: white;
      margin: 20px auto;
      font-weight: 600;
      border-radius: 10px;
      --background-activated: #EFB810;
      --background-focused: #EFB810;
      text-align: center;
    }
  }
}
/*----------------------------------------LISTA DE INVITADOS------------------------------------------------*/
ion-header { z-index: 101; }

table {
  width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th, td {
  padding: 15px;
	background-color: rgba(0, 0, 0, 0.288);
	color: #fff;
}
th { text-align: left; }

thead {
	th {
		background-color: #EFB810;
    text-align: center;
	}
}
tbody {
	tr {
		&:hover {	background-color: rgba(255,255,255,0.3); }
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
.table-container {
    display: flex;
    justify-content: center;
}
.button-dat {
    width: 225px;
    height: 60px;
    --background: #308aa3;
}
.button-check {
  width: 60px;
  height: 60px;
  --background: #efb710;
}
.button ion-icon {
  height: 100%;
  --ionicon-stroke-width: 56px;
}
.font { font-size: 10px; }

.row-checks-full { background: #00ff15ad; }
.logo-aq { width: 100%; position: relative; margin-top: 20px;}
.logo-aq img{ width: 100px;max-width: 100px; position: relative; left: 50%; transform: translate( -50%, 0);}



@media (min-width: 325px) {
  .font { font-size: 12px; }
  h1 { font-size: 40px; }
  h2 { font-size: 40px; }
  .header-text1 { font-size: 27px; }
  .header-text2 { font-size: 28px; }
  .btn-confirmar, .btn-cancel, .btn-aceptar { font-size: 15px; }
  .instruc-text {
    text-align: center;
    font-size: 23px;
  }
}
@media (min-width: 600px) {
  .font { font-size: 16px; }
  h1 { font-size: 60px; }
  h2 { font-size: 50px; }
  .header-text1 { font-size: 47px; }
  .header-text2 { font-size: 48px; }
  .btn-confirmar, .btn-cancel, .btn-aceptar { font-size: 25px;}
  .instruc-text {
    text-align: center;
    font-size: 35px;
  }
}
@media (min-width: 1000px) {
  h1 { font-size: 60px; }
  h2 { font-size: 50px; }
  .header-text1 { font-size: 47px; }
  .header-text2 { font-size: 48px; }
  .btn-confirmar, .btn-cancel, .btn-aceptar { font-size: 25px; }
  .instruc-text {
    text-align: center;
    font-size: 35px;
  }
  ion-modal#modal-datos {
    --width: 50%;
    --height: auto;
    --border-radius: 6px;
    --margin: auto;
  }
  ion-modal#modal-c, ion-modal#modal-e {
    --width: 40%;
    --height: auto;
    --border-radius: 6px;
    --margin: auto;
  }
  ion-modal#modal-lector, ion-modal#modal-lector {
    --width: 40%;
    --height: auto;
    --border-radius: 6px;
    --margin: auto;
  }
}
