<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reporte</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="glass-container" style="background: rgba(103, 103, 103, 0.301);">
    <ion-text color="black">
      <h1>Reportes de invitaciones</h1>
    </ion-text>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <table>
          <thead>
            <tr>
              <th>Personas aceptaron invitacion</th>
              <th>No contestaron</th>
              <th>Total invitaciones enviadas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{datosReporte.invitadosAceptaron}}</td>
              <td>{{datosReporte.invitadosAunNoAceptan}}</td>
              <td>{{datosReporte.totalInvitados}}</td>
            </tr>
          </tbody>
        </table>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6">

        <table>
          <thead>
            <tr>
              <th>Invitados confirmados</th>
              <th>Acompañantes</th>
              <th>Total asistentes</th>
            </tr>

          </thead>
          <tbody>
            <tr>
              <td>{{datosReporte.pasesPrincipales}}</td>
              <td>{{datosReporte.acompaniantes}}</td>
              <td>{{datosReporte.totalAsistentes}}</td>
            </tr>
          </tbody>
        </table>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size-sm="12" size-md="6">

        <app-pie-chart [datos]="[datosReporte.invitadosAceptaron, datosReporte.invitadosAunNoAceptan]"></app-pie-chart>
      </ion-col>

      <ion-col size-sm="12" size-md="6">
        <app-stacked-horizontal-chart
          [datos]="[datosReporte.pasesPrincipales, datosReporte.acompaniantes]"></app-stacked-horizontal-chart>

      </ion-col>
    </ion-row>
  </div>
  <ion-text color="primary">
    <h1 style="color: whitesmoke;">Ultimas confirmaciones</h1>
  </ion-text>
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="12" size-md="8">
      <table *ngIf="datosReporte">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre completo</th>
            <th>Acompañantes totales</th>
            <th>Clasificación</th>
            <th>Tipo de pases</th>
            <th>Opcion qr</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pase of datosReporte.ultimospasesConfirmados">
            <td>{{pase.invitado.id}}</td>
            <td>{{pase.invitado.nombreCompleto}}</td>
            <td>{{pase.invitado.numAcompaniantesTotales}}</td>
            <td>{{pase.invitado.clasificacion}}</td>
            <td>{{pase.invitado.tipoPases}}</td>
            <td>{{booleanString(pase.invitado.opcionQR)}}</td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
  <div class="footer">
    <ion-footer class="ion-text-center">
      <ion-toolbar>
        <ion-title>
          <p class="footer">2024 Club Alpha. Desarrollado por Ing. Jesus E. Salgado L.</p>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>
<app-fondo-olas></app-fondo-olas>