<ion-content [fullscreen]="true" class="ion-padding">

    <ion-text color="black">
      <h2 style="color: white;"  class="ion-text-center ion-margin">Reportes de invitaciones</h2>
    </ion-text>
    <ion-row class="ion-justify-content-center">
      <ion-col  *ngIf="datosReporte" sizeXs="12" sizeMd="6">
        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr class="dark-purple"><th>Invitados</th></tr>
            <tr class="dark-purple">
              <th>Aceptaron la invitacion</th>
              <th>No contestaron</th>
              <th>Total invitaciones enviadas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{datosReporte.invitadosAceptaron}}</td>
              <td>{{datosReporte.invitadosAunNoAceptan}}</td>
              <td>{{datosReporte.totalInvitados}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </ion-col>
      <ion-col *ngIf="datosReporte" sizeXs="12" sizeMd="6">

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              
            <tr class="dark-purple"><th>Asistentes</th></tr>
              <tr class="bootstrap-transparent">
                <th>Invitados confirmados</th>
                <th>Total de acompañantes</th>
                <th>Total asistentes</th>
              </tr>
  
            </thead>
            <tbody>
              <tr>
                <td>{{datosReporte.pasesPrincipales}}</td>
                <td>{{datosReporte.acompaniantes}}</td>
                <td>{{datosReporte.totalAsistentes}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col *ngIf="datosReporte" size-sm="12" size-md="6">

        <app-pie-chart [datos]="[datosReporte.invitadosAceptaron, datosReporte.invitadosAunNoAceptan]"></app-pie-chart>
      </ion-col>

      <ion-col *ngIf="datosReporte" size-sm="6" size-md="6" style="margin-bottom: 100px;margin-top: 80px;">
        <app-stacked-horizontal-chart 
          [datos]="[datosReporte.pasesPrincipales, datosReporte.acompaniantes]"></app-stacked-horizontal-chart>

      </ion-col>
    </ion-row>
  <ion-text color="primary">
    <h2 style="color: whitesmoke;"  class="ion-text-center ion-margin">Ultimas confirmaciones</h2>
  </ion-text>
  <ion-row class="ion-justify-content-center" style="margin-bottom: 50px;">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr class="bootstrap-transparent">
            <th scope="col">Id</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Total de acompañantes</th>
            <th scope="col">Clasificación</th>
            <th scope="col">Tipo de pases</th>
            <th scope="col">Opcion QR</th>
            <th scope="col">Fecha que fue aceptada</th>
          </tr>
        </thead>
        <tbody *ngIf="datosReporte">
          <tr *ngFor="let pase of datosReporte.ultimospasesConfirmados">
            <td>{{pase.invitado.id}}</td>
            <td>{{pase.invitado.nombreCompleto}}</td>
            <td>{{pase.invitado.numAcompaniantesTotales}}</td>
            <td>{{pase.invitado.clasificacion}}</td>
            <td>{{pase.invitado.tipoPases}}</td>
            <td>{{booleanString(pase.invitado.opcionQR)}}</td>
            <td>{{convertirFecha(pase.fechaAceptacion)}}</td>
          </tr>
        </tbody>
      </table>
      </div>
  </ion-row>
  
  <!-- <div class="footer">
    <ion-footer class="ion-text-center">
      <ion-toolbar>
        <ion-title>
          <p class="footer">2024 Club Alpha. Desarrollado por Ing. Jesus E. Salgado L.</p>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </div> -->
</ion-content>